body{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
}
p {
    line-height: normal;
}
a{
    text-decoration: none;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-section-size{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: no-repeat center fixed url("../img/Sections-background/section-1.jpg");
    background-size: cover;
}
.nav-header-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.3);
}
.nav-header-box{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 65px;
}
.nav-logo{
    width: 160px;
    height: 100%;
    align-items: center;
    color: white;
    display: flex;
}
.nav-logo-link {
    color: white;
    text-decoration: none;
}
.nav-logo-link:visited {
    color: white;
    text-decoration: none;
}
.h-logo-style{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    background: #18cfab;
    position: relative;
    font-size: 40px;
    font-weight:700;
    margin-right: 10px;
}
.h-logo-style:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 15px solid #18cfab;
}
.h-logo-style:after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 15px solid #18cfab;
}
.logo-text{
    font-size: 25px;
    font-weight: 400;
}
.ham-green-text{
    color: #18cfab;
    font-weight: 700;
}
.header-menu{
    height: 100%;
    width: 685px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-menu-item{
    position: relative;
    font-size: 13px;
    font-weight: 700;
    color: #B8B8B8;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
}
.search_icon {
    width: 22px; height: 22px;
    background: url('../img/search-icon.png');
}
.header-menu-item:hover{
    color: #18CFAB;
    overflow: visible;
}
.header-menu-item:after{
    position: absolute;
    top: 66px;
    left: 0;
    content: ' ';
    width: 100%;
    border-bottom: 2px solid #18CFAB;
}
.nav-top-section{
height: calc(100vh - 120px);
justify-content: center;
}
.nav-top-section-second{
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-headline{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px;
    color: white;
}
.nav-second-headline{
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px;
    font-size: 70px;
    color: white;
}
.nav-end-headline{
    font-size: 30px;
    padding-bottom: 140px;
    color: #D4D4D4;
}
.btn-groups{
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 60px;
}
.basic-btn {
    font-size: 13px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 5px;
    box-shadow: 0 -4px 0 0 white;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 0;
}
.green-text{
    color: #18cfab;
    font-weight: 700;
}
.blue-btn{
    background-color: #00cbf6;
}
.squares-group{
    display: grid;
    height: 375px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.square-green-black{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #18CFAB;
    text-transform: uppercase;
    background-color: #1C2A33;
    border-top: 8px solid #18CFAB;
}

.square-green-white{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 60px;
    color: white;
    text-transform: uppercase;
    background-color: #18CFAB;
    border-top: 8px solid white;
}

.finger-img{
    background: url('../img/Forma\ 1@1X.png');
    width: 58px;
    height: 97px;
}
.gem-img{
    background: url('../img/Forma\ 1@1XX.png');
    width: 93px;
    height: 75px;
}
.supp-img{
    background: url('../img/Forma\ 1@1X\(1\).png');
    width: 60px;
    height: 97px;
}
.devices-img{
    background: url('../img/Forma\ 1@1X\(2\).png');
    width: 99px;
    height: 76px;   
}

    /*O U R   S E R V I C E S*/

.our-services{
    padding-top: 80px;
}
.o-s-t{
    position: relative;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 105px;
    text-align: center;
}
.o-s-t:after{
    position: absolute;
    content: " ";
    display: inline-block;
    height: 3px;
    width: 75px;
    top : 70px;
    left: calc(50% - 33px);
    transform: skewX(75deg);
    border-top : 2px solid #18cfab;
    border-bottom : 2px solid #18cfab;
}
.our-services-area{
    height: 350px;
}
.title-squares{
    display: grid;
    width: 1160px;
    height: 80px;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 25px;
}
.title-squares-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8fcfe;
    border : 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .2s ease-in;
}
.title-squares-item.active{
    position: relative;
    background-color:#18CFAB;
    color:#FFFFFF;
    border: none;
}
.title-squares-item.active:before {
    content: " ";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: 
    #18CFAB;
    top: calc(100% - 10px);
    left: calc(50% - 10px);
    transform: rotate(45deg);
}
.title-squares-item.active:before{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #18CFAB;
    top: calc(100% - 10px);
    left: calc(50% - 10px);
    transform: rotate(45deg);
}
#squares-content{
    width: 1160px;
}
.squares-content-item{
    display: none;

}
.squares-content-item.active{
    display: flex;
    width: 100%;
    grid-template-columns: 194px 925px;
    grid-gap: 20px;
    justify-content: space-between;
}
.s-c-i-img{
    display: inline-block;
    width: 194px;
    height: 139px;

}
.s-c-i-text{
    display: inline-block;
    width: 925px;
    height: 139px;}



    /*P U R C H A S E       A R E A*/

.purchase-area{
    background: no-repeat center url("../img/Sections-background/section-2.jpg");
    width: 100%;
    height: 480px;
    background-size: cover;
}
.purchase-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
}
.purchase-headline{
    font-size: 40px;
    font-weight: 700;
    color: #18cfab;
    text-transform: capitalize;
}
.purchase-text{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
    padding-top: 40px;
    padding-bottom: 80px;
}

/*B L O G   S E C T I O N*/

.blog-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 85px;
    padding-bottom: 100px;
    background-color: #f8fcfe;
    width: 100%;
    border-bottom: 1px solid #e1e1e1;
}
.blog-section-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-section-title{
    position: relative;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 105px
}
.blog-section-title:after{
    position: absolute;
    content: " ";
    display: inline-block;
    height: 3px;
    width: 75px;
    top: 70px;
    left: calc(50% - 33px);
    transform: skewX(75deg);
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
}
.list-btns-class{
    display: flex;
    justify-content: center;
    margin: 50px;
    margin-top: 0;
    border: 1px solid #ebebeb;
}
.style-list{
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    color: #717171;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    border-top: 2px solid rgba(0,0,0,0);
    border-right: 1px solid #ebebeb;
    transition: .2s ease-in-out;
}
.style-list.active{
    border-top: 3px solid #18cfab;
    color: #18cfab;
    
}
.blog-row{
    display: grid;
    flex-wrap: wrap;
    width: 1145px;
    height: 206px;
    grid-template-rows: repeat(3, 206px);
    grid-template-columns: repeat(4, 284px);
}
.row-gallery.deactive{
    display: none;
}
.blog-row-item{
    position: relative;
    width: 284px;
}
.blog-row-item:hover img{
    display: none;
}
.img-layout{
    flex-direction: column;
    align-items: center;
    height: 206px;
    width: 284px;
    position: absolute;
    top: 0;
    opacity: 0;
}
.img-layout:hover{
    opacity: 1;    
}
.icons-group{
    padding-top: 43px;
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icons-group:hover {
    border-top: 3px solid #18cfab;
}
.i-r{
    width: 285px;
    display: flex;
    justify-content: space-evenly;
}
.icon-sit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #18cfab;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    cursor: pointer;
}
.icon-sit:hover{
    background-color: #18cfab;
    color: white;
}
.text-design{
    font-size: 22px;
    color: #18cfab;
    text-transform: uppercase;
    padding-top: 35px;
}
.text-design-2{
    padding-top: 15px;
}

/*L O A D   M O R E*/
#load-more{
    display: block;
}
.load-more-btn{
    margin-top: 70px;
    border-radius: 10px;
    position: relative;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    padding: 25px 20px 25px 55px;
    background-color: #18cfab;
}
.load-more-btn:before{
    position: absolute;
    content: '+';
    font-size: 28px;
    top: 15px;
    left: 20px;
}
.load-more-btn.deactive{
    display: none;
}
.deactive{
    display: none;
}








/* F O O T E R   S E C T I O N*/

.footer-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #22353f;
    padding: 45px 0;
    margin-bottom: 10px;
    color: grey;
    font-size: 14pt;
}
